<!--
<li class="list-group-item">
  <span class="desc">{{itemCuenta.descripcion}}:&nbsp;</span>  <span class="monto">&nbsp;${{itemCuenta.monto}}</span>
</li>
-->

<li class class="list-group-item">
  <div class="card">
    <div class="card-header desc">Descripción</div>
    <div class="card-body itemBody">{{itemCuenta.descripcion}}</div>
  </div>
  <div class="card">
    <div class="card-header monto">Monto $</div>
    <div class="card-body itemBody">${{itemCuenta.monto}}</div>
  </div>
</li>
