/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.desc {
  background-color: #61A6EC;
  color: #000;
  text-align: center;
  min-width: 150px;
  max-width: 150px;
}

.monto {
  background-color: #84BAF1;
  color: #000;
  text-align: center;
  min-width: 150px;
  max-width: 150px;
}

.itemBody{
  text-align: center;
}


.list-group-item{
  display: inline-flex;
  padding: 0rem;
}




