<div class="content container">
  <div class="row">
    <div class="col-md-6 offset-md-3">


      <!-- form	card	login	with	validation	feedback	-->
      <div class="card card-outline-secondary ">

        <div class="card-header">
          <h3 class="mb-0 text-center">Movimientos</h3>
        </div>

        <div class="card-body">
          <!-- Formulario -->
          <form>
            <div class="form-group">
              <label for="nombre">Descripoción Cuenta</label>
              <input type="text" maxlength="20" class="form-control" id="nombre" placeholder="Ingresar nombre..." #descripcion>
            </div>

            <div class="form-group">
              <label for="monto">Monto</label>
              <input type="number" max="9999999" class="form-control" id="monto" placeholder="Ingresar monto..." #monto>
            </div>

            <div class="form-row justify-content-center">
              <!-- Default inline 1-->
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="gasto" id="ingreso" value="Ingreso" checked>
                <label class="form-check-label" for="ingreso">Ingreso</label>
              </div>

              <!-- Default inline 2-->
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="gasto" id="egreso" value="Egreso">
                <label class="form-check-label" for="egreso">Egreso</label>
              </div>
            </div>

            <div class="form-row justify-content-end">
              <button type="submit" class="btn btn-primary mt-2"
                (click)="agregarItem(descripcion.value, monto.value )">Agregar</button>
            </div>

          </form>
          <!-- Fin Formulario -->

        </div>
      </div>
    </div>
  </div>

  <hr class="mb-5">

  <div class="row justify-content-center">
    <ul class="justify-content-center">
      <app-item-cuenta *ngFor="let i of itemsCuenta" [itemCuenta]="i"></app-item-cuenta>
    </ul>

  </div>

</div>
